{
	"root": true,

	"extends": "@ljharb",

	"env": {
		"node": true,
		"browser": true,
	},

	"overrides": [
		{
			"files": "./import.js",
			"parserOptions": {
				"ecmaVersion": 2020,
			},
		},
	],
}
